# Python
__pycache__/
*.py[cod]
*$py.class

# Entorno virtual
venv/
env/
.venv/

# Django
*.log
*.pot
*.pyc

# Postman local (workspace metadata)
.postman/

# Documentacion
Documentacion_API_Biblioteca.pdf

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db